/* #region page */
html {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  ;
}
body {
  margin: 0;
}
/* #endregion */
/* #region header */
.header {
  box-sizing: border-box;
  padding: 24px 20px;
  height: 100vh;
  background-image: url(/images/header-bg-mobile.png);
  background-size: cover;
  background-position: right;
}
.header__top {
  display: flex;
  justify-content: space-between;
}
.header__icons {
  display: flex;
  gap: 24px;
}
.header__title {
  font-style: poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;

}
/* #endregion */
/* #region icon */
.icon {
  display: block;
  height: 24px;
  width: 24px;
}

.icon--phone {
  background-image: url(/icons/icon-phone.png);
}

.icon--menu {
  background-image: url(/icons/icon-burger-menu.png);
}
/* #endregion */
/* #region footer */
.footer {

}
/* #endregion */


